<nav class="navbar navbar-inverse navbar-fixed-top custom-navbar container-fullwidth" role="navigation">
  <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#/dashboard" title="Singulearn">
        Singulearn
      </a>
    </div>
    <div><ul class="nav navbar-nav navbar-right container-fullwidth">
        <!-- <li class=nav-links><a href="#"><span class="username">Welcome, Kimerie !</span></a></li> -->
        <li class=nav-links><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
        <li class=nav-links><a href="#/account">Account</a></li>
        <li class=nav-links><a href="#/help">Help </a></li>
        <li class=nav-links><a href="#/">Sign Out</a></li>
      </ul>
      </div>
 <!--/.container -->
</nav>
<div id="wrapper">
 <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#/dashboard">
                Dashboard
              </a>
          </li>
          <li>
              <a href="#/class">Students</a>
          </li>
          <li>
              <a href="#/playlists">Playlist Builder</a>
          </li>
          <li>
              <a href="#/Chat">Chat</a>
          </li>
      </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class='container-fluid typeahead-demo' ng-controller="TeachWorkCtrl">

    <h4>Select Student</h4>
<!--     <pre>Model: {{$selected | json}}</pre>
 -->    <input
       placeholder="Type Student Name" type="text" ng-model="$selected" typeahead-editable="false" typeahead-no-results="noResults" uib-typeahead="state for state in names | filter:$viewValue | limitTo:8" typeahead-on-select="onSelect($selected, $item, $model, $label)" class="form-control"></input>
   <div ng-controller="TeachWorkCtrl">
      <div class="col-lg-6">
        <div class="container work">  
        <header><h1>Select and Drag Lesson</h1></header>
        <section>
            <div class="drag"> 
              <button type="button" class="btn btn-lg btn-primary courseName" draggable="true" ng-repeat="lesson in lessons track by lesson.id">{{lesson.lessonType}}</button>
              </div>
        </section>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container work dash">
        <header><h1>Drop Lesson Here</h1></header>
        <section droppable="true">
          <div class="drop">
         <div>
          <button ng-repeat="name in lessonNames track by $index" ng-click="handleDelete(name)" ng-model= "name" type="button" class="btn btn-lg btn-primary courseName">{{name}}</button></div>
            </div>
            <div><h5>Click lesson in list to remove.</h5></div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <br>
    <div class="container confirm outer-div">
      <a href="#/dashboard"><button ng-click= "changePlaylist($selected,name)"type="button" class="btn btn-primary btn-lg btn-block confirm inner-div">Confirm Selections</button></a>
    </div>  
  </div>
</div>

<!-- /#page-content-wrapper -->