<nav class="navbar navbar-inverse navbar-fixed-top custom-navbar container-fullwidth" role="navigation">
  <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#/dashboard" title="Singulearn">
        Singulearn <span class="studentapp"> students</span>
      </a>
    </div>
    <div><ul class="nav navbar-nav navbar-right container-fullwidth">
        <!-- <li class=nav-links><a href="#"><span class="username">Welcome, Kimerie !</span></a></li> -->
        <li class=nav-links><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
        <li class=nav-links><a href="#/account">Account</a></li>
        <li class=nav-links><a href="#/help">Help </a></li>
        <li class=nav-links><a href="#/">Sign Out</a></li>
      </ul>
      </div>
</nav>
 <!--/.container -->

 <!-- Sidebar -->
<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#/dashboard">
                Dashboard
              </a>
          </li>
          <li class="sidelinks">
              <a href="#/class">Workspace</a>
          </li>
          <li class="sidelinks">
              <a href="#/playlists">Progress</a>
          </li>
          <li class="sidelinks">
              <a href="#/Chat">Chat</a>
          </li>
      </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container">
    <p></p>
      <div class="row">
        <div class="col-md-4">
          <a href="#playlists"><button type="button" class="btn btn-lg btn-primary"><i class="fa fa-book"></i></button></a>
        </div>
        <div class="col-md-4">
          <a href="#/class"><button type="button" class="btn btn-lg btn-primary"><i class="fa fa-line-chart" aria-hidden="true"></i></button></a>
        </div>
        <div class="col-md-4">
          <a href="#/chat"><button type="button" class="btn btn-lg btn-primary"><i class="fa fa-comments"></i></button></a>
        </div>
      </div>
    </div>
    <br>
<br>
<div ng-controller= "ClassCtrl">
    <div class="col-lg-6">
      <div ng-controller="StudentDashCtrl">
        <div class="container studentdash outer-div">  
        <header><h1>Your Queue</h1></header>
        <section>
            <div class="lessons">
             <button type="button" class="btn btn-lg btn-primary courseName students" ng-repeat="lesson in lessons "> 
              <p>{{lesson.lessonType}}</p>
              <p>{{lesson.lessonName}}</p>
            </button>
            </div>
        </section>
      </div>
    </div>

</div>
<!-- /#page-content-wrapper -->

