<nav class="navbar navbar-inverse navbar-static-top custom-navbar container-fullwidth" role="navigation">
  <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#/dashboard" title="Singulearn">
        Singulearn
      </a>
    </div>
    <div><ul class="nav navbar-nav navbar-right container-fullwidth">
        <li class=nav-links><a href="#"><span class="username">Hello, Kimerie!</span></a></li>
        <li class=nav-links><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
        <li class=nav-links><a href="#/account">Account</a></li>
        <li class=nav-links><a href="#/help">Help </a></li>
        <li class=nav-links><a href="#/">Sign Out</a></li>
      </ul>
      </div>
 <!--/.container -->
</nav>
<div id="wrapper">
 <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#/dashboard">
                Dashboard
              </a>
          </li>
          <li>
              <a href="#/class">Students</a>
          </li>
          <li>
              <a href="#/playlists">Playlists</a>
          </li>
          <li>
              <a href="#/Chat">Chat</a>
          </li>
      </ul>
      <div class="sidebar-footer footer-links">
        <div class="col-xs-4">
          <a class="nav-link" ng-href="#/Account">Account</a>
        </div>
        <div class="col-xs-4">
          <a class="nav-link" ng-href="#/">Signout</a>
        </div>
        <div class="col-xs-4">
          <a class="nav-link" ng-href="#/help">Help</a>
        </div>
      </div>

<!--     <a class="pull-right" ng-href="#">Back to top</a>
 -->
</div>

<!-- /#sidebar-wrapper -->
<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <p></p>
      <div class="row">
        <div class="col-md-4">
          <a href="#/class"><button type="button" class="btn btn-lg btn-primary"><i class="fa fa-users"></i>Class</button></a>
        </div>
        <div class="col-md-4">
          <a href="#playlists"><button type="button" class="btn btn-lg btn-primary"><i class="fa fa-book"></i>Playlists</button></a>
        </div>
        <div class="col-md-4">
          <a href="#/chat"><button type="button" class="btn btn-lg btn-primary"><i class="fa fa-comments"></i>Chat</button></a>
        </div>
      </div>
    </div>
    <br>
<br>

</div>

<!-- /#page-content-wrapper -->

