<nav class="navbar navbar-inverse navbar-static-top custom-navbar fullwidth" role="navigation">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#" title="Singulearn">
        Singulearn
      </a>
    </div>
    <!-- Non-collapsing right-side icons -->
    <!-- <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" class="fa fa-cog"></a>
      </li>
      <li>
        <a href="#" class="fa fa-home"></a>
      </li>
    </ul> -->
    <!-- the collapsing menu -->
    <div class="collapse navbar-collapse navbar-left">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container -->
</nav>
<div id="wrapper">
 <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                Singulearn
              </a>
          </li>
          <li>
              <a href="#">Dashboard</a>
          </li>
          <li>
              <a href="#">Students</a>
          </li>
          <li>
              <a href="#">Content</a>
          </li>
          <li>
              <a href="#">Task and Todo</a>
          </li>
      </ul>
  </div>
<!-- /#sidebar-wrapper -->
<!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Dashboard</h1>
                  <p><div ng-controller="TeacherCtrl"> Hello World. {{ valediction }}</div></p>
              </div>
          </div>
      </div>
      <div><a href="#">Link</a></div>
      <div>Link</div>
      <div>Link</div>

  </div>
<!-- /#page-content-wrapper -->

</div>
  
