http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}


/*===========================================================================================================================

General styles

===========================================================================================================================*/

body{
  background-color: #e3e3e3;
}
/*===========================================================================================================================

Navigation and Header

===========================================================================================================================*/
/*.container-fullwidth.primary{
  float: right;
}
a.nav-link.primary{
  hover: none;
}*/

a.navbar-brand{
    color: #fff !important;
    font-size: 40px !important;
    font-family: 'Stardos Stencil', cursive;
    font-weight: 700;
    padding-left: 30px !important;
}

div.container.navbar-header{
    margin-right: 0px;
    background-color: #3FB0AC;

}

ul.nav.navbar-nav.navbar-right{
    float: right !important;
    padding-right:20px;
    background-color: #173e43;
}
span.glyphicon.glyphicon-user{
    color: #fff !important;
    margin-top: 0px;
}

.btn.btn-lg.btn-primary{
    height: 80px;
    width: 300px;
}
nav.navbar-inverse.navbar-fixed-top{
  margin-bottom: 0px;
  background-color: #3FB0AC;
  border-color: #3FB0AC;
}

/*div.navbar-header>a{
  float: left !important;
  display: block !important;
 /* padding: 0 15px 0 10px;
}*/

div.collapse.navbar-collapse.navbar-left{
  float: right !important;
}
li.nav-links>a{
    color: #fff !important;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

div#sidebar-wrapper{
  width: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #173e43;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #252839;
    background: #c9c9c9;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
}

.sidebar-nav > .sidebar-brand a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #252839;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
        margin-top: 0px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/*===========================================================================================================================

Teacher Dashboard Body

===========================================================================================================================*/
i.fa{
    font-size: 60px;
}

.btn.btn-lg.btn-primary{
    background-color: #f2b632;
    border-color: #f2b632;

}

/*===========================================================================================================================

Teacher Playlist Builder

===========================================================================================================================*/
.container.work {
  width: 450px;
  border: 1px solid #f7dca1;
  box-shadow: 0 1px 5px #f7dca1;
  border-radius: 5px;
  font-family: verdana;
  margin: 25px auto;
}

.container.work header {
  background: #fdf6e7;
  background-image: -webkit-linear-gradient( top, #fdf6e7, #f7dca1 );
  background-image: -ms-linear-gradient( top, #fdf6e7, #f7dca1 );
  background-image: -moz-linear-gradient( top, #fdf6e7, #f7dca1);
  background-image: -o-linear-gradient( top, #fdf6e7, #f7dca1 );
  box-shadow: 0 1px 2px #eeb02b;
  padding: 10px;
}

.container.work h1 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 2px white;
  color: #eeb02b;
  text-align: center;
}

.container.work section {
  padding: 10px 30px; 
  font-size: 12px;
  line-height: 175%;
  color: #5e4308;
}

.btn.btn-lg.btn-primary.courseName {
  margin: 25px;
}

.container.confirm.outer-div {
  padding: 30px;
  text-align: center;
}
.btn.btn-lg.btn-primary.btn-block.confirm.inner-div {
  width: 800px;
  display: inline-block;
  background-color: #89043D;
  border-color: #89043D;
}
.col-md-4, .col-lg-6 {
  margin-top: 50px;
}

.container-fluid.typeahead-demo {
  margin-top: 50px;

}
/*===========================================================================================================================

User_login

===========================================================================================================================*/

#login{
 /* http://i.huffpost.com/gen/2424140/images/o-CLASSROOM-facebook.jpg*/
 
  background:url("http://www.greeneconome.com/wp-content/uploads/2015/05/empty-classroom-l5.jpg")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 800px !important;
}
.userlogin{
  margin-top: 800px;
  padding: 50px;
}

h1.brand-login{
  font-family: 'Stardos Stencil', cursive;
  font-weight: 700;
  font-size: 200px;
  color:#89043D;
  text-align: center;
  margin-top: 100px;

}

h2.form-signin-heading{
  color:#252839;
  margin-bottom: 10px;

}

span.remember-me{
  color: #252839;
  margin-bottom: 10px;

}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 0px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin-heading{
  font-family:'Roboto', cursive;
  font-weight: 400;
  color:#252839;
  margin-bottom: 10px !important;

}

.remember-me{
  color:#252839;
  margin-bottom: 10px;
}

a.already{
  color:#e9ece5;
}


button.btn.btn-lg.btn-primary.btn-block{
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  display:block;
  background-color: #89043D;
  border-color: #89043D;
  height: 50px !important;
  margin-top: 10px;
}
button.btn.btn-sm.btn-secondary{
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  display:block;
  background-color: #3b3a36;
  border-color: #3b3a36;
  color:#e9ece5;

}
  #draggable {
    width: 200px;
    height: 20px;
    text-align: center;
    background: white;
  }

  .dropzone {
    width: 200px;
    height: 20px;
    background: blueviolet;
    margin-bottom: 10px;
    padding: 10px;
  }

  /*===========================================================================================================================

footer

===========================================================================================================================*/
div.sidebar-footer.footer-links{
    background-color: #252839 !important;
    position: absolute;
    height:40px;
    width:100%;
    margin-top: 620px;
    text-align:center;
    float: clear;
    padding-right: 10px;

}

.col-xs-4{
  text-align: center;
}
footer>div.container{
  width: 100%;
  clear:both;
  background-color: #252839;
/*  padding:20px;
*/}
span.brand-icon{
  font-family:'Stardos Stencil', cursive;
  font-weight: 400;
  color: #fff !important;
}

a.nav-link{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #fff !important;
  text-decoration: none;
  text-align:center;
}
span.copyright{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #fff!important;
}
p.pull-right{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #fff!important;
}