<div class="container text-center">
  <div class="row">
    <div>
      <p><a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
 | <a routerLink="/terms" routerLinkActive="active">Terms</a></p>
    </div>
  </div>
</div>
<!-- <nav class="navbar navbar-default"> -->
  <div class="container-fluid gray-light footer">
    <!-- is this needed? -->
    <div class="row">
    <!-- social nav -->
      <ul class="nav nav-social text-left">
        <li>
            <a href="" title="Social"><img src="./assets/img/icon_f.svg" alt=""></a>
        </li>
        <li>
            <a href="" title="Social"><img src="./assets/img/icon_t.svg" alt=""></a>
        </li>
        <li>
            <a href="" title="Social"><img src="./assets/img/icon_l.svg" alt=""></a>
        </li>
        <li>
            <a href="" title="Social"><img src="./assets/img/icon_g.svg" alt=""></a>
        </li>
        <li>
            <a href="" title="Social"><img src="./assets/img/icon_p.svg" alt=""></a>
        </li>
      </ul>
        <div class="text-right">
            <small>&copy; <script>document.write(new Date().getFullYear())</script> Broccoli City&reg;</small>
        </div>
    </div>
  </div>
<!-- </nav> -->
<!-- dynaModal build -->
  <div class="modal fade" id="dynaModal" tabindex="-1" role="dialog" aria-labelledby="dynaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <!-- Content -->
        </div>
      </div>
    </div>
  </div>
