<div class="navbar navbar-default navbar-fixed-top full">
    <div class="container-fluid black">
      <div class="navbar-header">
        <a class="navbar-brand"><img src="./assets/img/chipn_icon.png" alt="ChipN Icon" width="41" height="40">CHIPN</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right top">
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/content" routerLinkActive="active">Content</a></li>
          <li><a routerLink="/market" routerLinkActive="active">Marketplace</a></li>
          <li><a routerLink="/privacy" routerLinkActive="active">Privacy</a></li>
          <li><a routerLink="/terms" routerLinkActive="active">Terms</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
        </ul>
      </div>
  </div><!--/.container-fluid -->
</div>
